# 로그 파일
*.log

# IDE 설정
.idea/

# OS 생성 파일
.DS_Store
Thumbs.db

# 환경설정 파일
backend/.env

# 업데이트 필요 없는 내용 모두 제외
frontend/
migrations/
storage/
voice/
backend/databaseVolumesPostgres/
backend/b5_Database/b50_DatabaseVolumesPostgres/

# # b62_UserStorage 폴더 내의 특정 폴더 및 파일만 유지
# storage/s1_Yeoreum/s12_UserStorage/*
# !storage/s1_Yeoreum/s12_UserStorage/s121_Samples/
# !storage/s1_Yeoreum/s12_UserStorage/s121_Samples/*

# alembic 파일
alembic.ini