# YAAS
client
python-dotenv
tiktoken
langdetect
nltk
konlpy
git+https://github.com/allinux/PyKoSpacing.git
# Web Framework, DB
fastapi
tzdata
psycopg2-binary
asyncpg
sqlalchemy
alembic
pydantic
uvicorn
bcrypt